/* You can add global styles to this file, and also import other style files */
body {
  background: #fafafa;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 36px;
  margin-bottom: 8px;
}

p {
  color: #666;
}